.home{
  width: 100%;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: #3e497a;
  

}
.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.myimage img{
    margin: 20px;
    width: 200px;
    border-radius: 100px;
}


.name h1{
    color: rgb(96, 96, 160);;
}

.skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  font-size: 20px;
  color: #3e497a;
  font-style: italic;
}
.lists h2{
  text-decoration: underline;
}
.skills .lists {
  list-style: none;
}
@media only screen and (max-width: 600px) {
    .name h2 {
      font-size: 40px;
    }
  
    .name .myimage {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    .skills {
      text-align: center;
    }
    .lists {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
    }
  }


