.footer {
  width: 100%;
  background: #21325e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.socialmedia a{
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialmedia svg {
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.footer p {
  color: white;
}
.df{
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  .footer svg {
    font-size: 50px;
  }

}